# PRQL

## Generating SQL

You can do this in your browser, go to [https://prql-lang.org/playground/]() now!

## Python

In [34]:
#!pip install prql-python

In [30]:
import prql_python as prql

prql_query = """
    from employees
    join salaries [==emp_id]
    group [dept_id, gender] (
        aggregate [
            avg_salary = average salary
        ]
    )
"""

sql = prql.to_sql(prql_query)
print(sql)

SELECT
  dept_id,
  gender,
  AVG(salary) AS avg_salary
FROM
  employees
  JOIN salaries ON employees.emp_id = salaries.emp_id
GROUP BY
  dept_id,
  gender
ORDER BY
  avg_salary DESC
LIMIT
  5

In [33]:
prql_query = """
    from employees
    join salaries [==emp_id]
    group [dept_id] (
        sort [-salary]
        take 5
    )
"""

sql = prql.to_sql(prql_query)
print(sql)

WITH table_1 AS (
  SELECT
    employees.*,
    salaries.*,
    ROW_NUMBER() OVER (
      PARTITION BY dept_id
      ORDER BY
        salary DESC
    ) AS _expr_0
  FROM
    employees
    JOIN salaries ON employees.emp_id = salaries.emp_id
)
SELECT
  *,
  *
FROM
  table_1
WHERE
  _expr_0 <= 5

## PyPRQL and Jupyter Magics

In [3]:
#!pip install pyprql

In [4]:
%load_ext pyprql.magic

In [35]:
%%prql duckdb:///:memory:
from `data/customers.csv`
take 5

Done.
   customer_id first_name    last_name  \
0            1       Luís    Gonçalves
1            2     Leonie       Köhler
2            3   François     Tremblay
3            4      Bjørn       Hansen
4            5  František  Wichterlová

                                            company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.

                           address                 city state         country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil
1          Theodor-Heuss-Straße 34            Stuttgart  None         Germany
2                1498 rue Bélanger             Montréal    QC          Canada
3                 Ullevålsveien 14                 Oslo  None          Norway
4                    Klanova 9/506               Prague  None  Czech Republic

  postal_code               phone                 fax  \
0   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1       70174    +49 0711 2842222                None
2     H2G 1A7   +1 (514) 721-4711                None
3        0171     +47 22 44 22 22                None
4       14700    +420 2 4172 5555    +420 2 4172 5555

                      email  support_rep_id
0      luisg@embraer.com.br               3
1     leonekohler@surfeu.de               5
2       ftremblay@gmail.com               3
3     bjorn.hansen@yahoo.no               4
4  frantisekw@jetbrains.com               4

## Shell

In [8]:
#!wget https://github.com/prql/prql-query/releases/download/v0.0.14/pq-x86_64-unknown-linux-gnu.tar.gz \
#    && tar xvzf pq-x86_64-unknown-linux-gnu.tar.gz \
#    && rm pq-x86_64-unknown-linux-gnu.tar.gz

In [9]:
!./pq --from data/invoices.csv "take 5"

+------------+-------------+-------------------------------+-------------------------+--------------+---------------+-----------------+---------------------+-------+
| invoice_id | customer_id | invoice_date                  | billing_address         | billing_city | billing_state | billing_country | billing_postal_code | total |
+------------+-------------+-------------------------------+-------------------------+--------------+---------------+-----------------+---------------------+-------+
| 1          | 2           | 2009-01-01T00:00:00.000000000 | Theodor-Heuss-Straße 34 | Stuttgart    |               | Germany         | 70174               | 1.98  |
| 2          | 4           | 2009-01-02T00:00:00.000000000 | Ullevålsveien 14        | Oslo         |               | Norway          | 0171                | 3.96  |
| 3          | 8           | 2009-01-03T00:00:00.000000000 | Grétrystraat 63         | Brussels     |               | Belgium         | 1000                | 5.94  |
| 4          | 14          | 2009-01-06T00:00:00.000000000 | 8210 111 ST NW          | Edmonton     | AB            | Canada          | T6G 2C7             | 8.91  |
| 5          | 23          | 2009-01-11T00:00:00.000000000 | 69 Salem Street         | Boston       | MA            | USA             | 2113                | 13.86 |
+------------+-------------+-------------------------------+-------------------------+--------------+---------------+-----------------+---------------------+-------+

In [51]:
# Say we now want to get the names of the top 5 customers
!./pq --from i=data/invoices.csv \
    "from i"

+------------+-------------+-------------------------------+------------------------------------------+---------------------+---------------+-----------------+---------------------+-------+
| invoice_id | customer_id | invoice_date                  | billing_address                          | billing_city        | billing_state | billing_country | billing_postal_code | total |
+------------+-------------+-------------------------------+------------------------------------------+---------------------+---------------+-----------------+---------------------+-------+
| 1          | 2           | 2009-01-01T00:00:00.000000000 | Theodor-Heuss-Straße 34                  | Stuttgart           |               | Germany         | 70174               | 1.98  |
| 2          | 4           | 2009-01-02T00:00:00.000000000 | Ullevålsveien 14                         | Oslo                |               | Norway          | 0171                | 3.96  |
| 3          | 8           | 2009-01-03T00:00:00.000000000 | Grétrystraat 63                          | Brussels            |               | Belgium         | 1000                | 5.94  |
| 4          | 14          | 2009-01-06T00:00:00.000000000 | 8210 111 ST NW                           | Edmonton            | AB            | Canada          | T6G 2C7             | 8.91  |
| 5          | 23          | 2009-01-11T00:00:00.000000000 | 69 Salem Street                          | Boston              | MA            | USA             | 2113                | 13.86 |
| 6          | 37          | 2009-01-19T00:00:00.000000000 | Berger Straße 10                         | Frankfurt           |               | Germany         | 60316               | 0.99  |
| 7          | 38          | 2009-02-01T00:00:00.000000000 | Barbarossastraße 19                      | Berlin              |               | Germany         | 10779               | 1.98  |
| 8          | 40          | 2009-02-01T00:00:00.000000000 | 8, Rue Hanovre                           | Paris               |               | France          | 75002               | 1.98  |
| 9          | 42          | 2009-02-02T00:00:00.000000000 | 9, Place Louis Barthou                   | Bordeaux            |               | France          | 33000               | 3.96  |
| 10         | 46          | 2009-02-03T00:00:00.000000000 | 3 Chatham Street                         | Dublin              | Dublin        | Ireland         |                     | 5.94  |
| 11         | 52          | 2009-02-06T00:00:00.000000000 | 202 Hoxton Street                        | London              |               | United Kingdom  | N1 5LH              | 8.91  |
| 12         | 2           | 2009-02-11T00:00:00.000000000 | Theodor-Heuss-Straße 34                  | Stuttgart           |               | Germany         | 70174               | 13.86 |
| 13         | 16          | 2009-02-19T00:00:00.000000000 | 1600 Amphitheatre Parkway                | Mountain View       | CA            | USA             | 94043-1351          | 0.99  |
| 14         | 17          | 2009-03-04T00:00:00.000000000 | 1 Microsoft Way                          | Redmond             | WA            | USA             | 98052-8300          | 1.98  |
| 15         | 19          | 2009-03-04T00:00:00.000000000 | 1 Infinite Loop                          | Cupertino           | CA            | USA             | 95014               | 1.98  |
| 16         | 21          | 2009-03-05T00:00:00.000000000 | 801 W 4th Street                         | Reno                | NV            | USA             | 89503               | 3.96  |
| 17         | 25          | 2009-03-06T00:00:00.000000000 | 319 N. Frances Street                    | Madison             | WI            | USA             | 53703               | 5.94  |
| 18         | 31          | 2009-03-09T00:00:00.000000000 | 194A Chain Lake Drive                    | Halifax             | NS            | Canada          | B3S 1C5             | 8.91  |
| 19         | 40          | 2009-03-14T00:00:00.000000000 | 8, Rue Hanovre                           | Paris               |               | France          | 75002               | 13.86 |
| 20         | 54          | 2009-03-22T00:00:00.000000000 | 110 Raeburn Pl                           | Edinburgh           |               | United Kingdom  | EH4 1HH             | 0.99  |
| 21         | 55          | 2009-04-04T00:00:00.000000000 | 421 Bourke Street                        | Sidney              | NSW           | Australia       | 2010                | 1.98  |
| 22         | 57          | 2009-04-04T00:00:00.000000000 | Calle Lira, 198                          | Santiago            |               | Chile           |                     | 1.98  |
| 23         | 59          | 2009-04-05T00:00:00.000000000 | 3,Raj Bhavan Road                        | Bangalore           |               | India           | 560001              | 3.96  |
| 24         | 4           | 2009-04-06T00:00:00.000000000 | Ullevålsveien 14                         | Oslo                |               | Norway          | 0171                | 5.94  |
| 25         | 10          | 2009-04-09T00:00:00.000000000 | Rua Dr. Falcão Filho, 155                | São Paulo           | SP            | Brazil          | 01007-010           | 8.91  |
| 26         | 19          | 2009-04-14T00:00:00.000000000 | 1 Infinite Loop                          | Cupertino           | CA            | USA             | 95014               | 13.86 |
| 27         | 33          | 2009-04-22T00:00:00.000000000 | 5112 48 Street                           | Yellowknife         | NT            | Canada          | X1A 1N6             | 0.99  |
| 28         | 34          | 2009-05-05T00:00:00.000000000 | Rua da Assunção 53                       | Lisbon              |               | Portugal        |                     | 1.98  |
| 29         | 36          | 2009-05-05T00:00:00.000000000 | Tauentzienstraße 8                       | Berlin              |               | Germany         | 10789               | 1.98  |
| 30         | 38          | 2009-05-06T00:00:00.000000000 | Barbarossastraße 19                      | Berlin              |               | Germany         | 10779               | 3.96  |
| 31         | 42          | 2009-05-07T00:00:00.000000000 | 9, Place Louis Barthou                   | Bordeaux            |               | France          | 33000               | 5.94  |
| 32         | 48          | 2009-05-10T00:00:00.000000000 | Lijnbaansgracht 120bg                    | Amsterdam           | VV            | Netherlands     | 1016                | 8.91  |
| 33         | 57          | 2009-05-15T00:00:00.000000000 | Calle Lira, 198                          | Santiago            |               | Chile           |                     | 13.86 |
| 34         | 12          | 2009-05-23T00:00:00.000000000 | Praça Pio X, 119                         | Rio de Janeiro      | RJ            | Brazil          | 20040-020           | 0.99  |
| 35         | 13          | 2009-06-05T00:00:00.000000000 | Qe 7 Bloco G                             | Brasília            | DF            | Brazil          | 71020-677           | 1.98  |
| 36         | 15          | 2009-06-05T00:00:00.000000000 | 700 W Pender Street                      | Vancouver           | BC            | Canada          | V6C 1G8             | 1.98  |
| 37         | 17          | 2009-06-06T00:00:00.000000000 | 1 Microsoft Way                          | Redmond             | WA            | USA             | 98052-8300          | 3.96  |
| 38         | 21          | 2009-06-07T00:00:00.000000000 | 801 W 4th Street                         | Reno                | NV            | USA             | 89503               | 5.94  |
| 39         | 27          | 2009-06-10T00:00:00.000000000 | 1033 N Park Ave                          | Tucson              | AZ            | USA             | 85719               | 8.91  |
| 40         | 36          | 2009-06-15T00:00:00.000000000 | Tauentzienstraße 8                       | Berlin              |               | Germany         | 10789               | 13.86 |
| 41         | 50          | 2009-06-23T00:00:00.000000000 | C/ San Bernardo 85                       | Madrid              |               | Spain           | 28015               | 0.99  |
| 42         | 51          | 2009-07-06T00:00:00.000000000 | Celsiusg. 9                              | Stockholm           |               | Sweden          | 11230               | 1.98  |
| 43         | 53          | 2009-07-06T00:00:00.000000000 | 113 Lupus St                             | London              |               | United Kingdom  | SW1V 3EN            | 1.98  |
| 44         | 55          | 2009-07-07T00:00:00.000000000 | 421 Bourke Street                        | Sidney              | NSW           | Australia       | 2010                | 3.96  |
| 45         | 59          | 2009-07-08T00:00:00.000000000 | 3,Raj Bhavan Road                        | Bangalore           |               | India           | 560001              | 5.94  |
| 46         | 6           | 2009-07-11T00:00:00.000000000 | Rilská 3174/6                            | Prague              |               | Czech Republic  | 14300               | 8.91  |
| 47         | 15          | 2009-07-16T00:00:00.000000000 | 700 W Pender Street                      | Vancouver           | BC            | Canada          | V6C 1G8             | 13.86 |
| 48         | 29          | 2009-07-24T00:00:00.000000000 | 796 Dundas Street West                   | Toronto             | ON            | Canada          | M6J 1V1             | 0.99  |
| 49         | 30          | 2009-08-06T00:00:00.000000000 | 230 Elgin Street                         | Ottawa              | ON            | Canada          | K2P 1L7             | 1.98  |
| 50         | 32          | 2009-08-06T00:00:00.000000000 | 696 Osborne Street                       | Winnipeg            | MB            | Canada          | R3L 2B9             | 1.98  |
| 51         | 34          | 2009-08-07T00:00:00.000000000 | Rua da Assunção 53                       | Lisbon              |               | Portugal        |                     | 3.96  |
| 52         | 38          | 2009-08-08T00:00:00.000000000 | Barbarossastraße 19                      | Berlin              |               | Germany         | 10779               | 5.94  |
| 53         | 44          | 2009-08-11T00:00:00.000000000 | Porthaninkatu 9                          | Helsinki            |               | Finland         | 00530               | 8.91  |
| 54         | 53          | 2009-08-16T00:00:00.000000000 | 113 Lupus St                             | London              |               | United Kingdom  | SW1V 3EN            | 13.86 |
| 55         | 8           | 2009-08-24T00:00:00.000000000 | Grétrystraat 63                          | Brussels            |               | Belgium         | 1000                | 0.99  |
| 56         | 9           | 2009-09-06T00:00:00.000000000 | Sønder Boulevard 51                      | Copenhagen          |               | Denmark         | 1720                | 1.98  |
| 57         | 11          | 2009-09-06T00:00:00.000000000 | Av. Paulista, 2022                       | São Paulo           | SP            | Brazil          | 01310-200           | 1.98  |
| 58         | 13          | 2009-09-07T00:00:00.000000000 | Qe 7 Bloco G                             | Brasília            | DF            | Brazil          | 71020-677           | 3.96  |
| 59         | 17          | 2009-09-08T00:00:00.000000000 | 1 Microsoft Way                          | Redmond             | WA            | USA             | 98052-8300          | 5.94  |
| 60         | 23          | 2009-09-11T00:00:00.000000000 | 69 Salem Street                          | Boston              | MA            | USA             | 2113                | 8.91  |
| 61         | 32          | 2009-09-16T00:00:00.000000000 | 696 Osborne Street                       | Winnipeg            | MB            | Canada          | R3L 2B9             | 13.86 |
| 62         | 46          | 2009-09-24T00:00:00.000000000 | 3 Chatham Street                         | Dublin              | Dublin        | Ireland         |                     | 0.99  |
| 63         | 47          | 2009-10-07T00:00:00.000000000 | Via Degli Scipioni, 43                   | Rome                | RM            | Italy           | 00192               | 1.98  |
| 64         | 49          | 2009-10-07T00:00:00.000000000 | Ordynacka 10                             | Warsaw              |               | Poland          | 00-358              | 1.98  |
| 65         | 51          | 2009-10-08T00:00:00.000000000 | Celsiusg. 9                              | Stockholm           |               | Sweden          | 11230               | 3.96  |
| 66         | 55          | 2009-10-09T00:00:00.000000000 | 421 Bourke Street                        | Sidney              | NSW           | Australia       | 2010                | 5.94  |
| 67         | 2           | 2009-10-12T00:00:00.000000000 | Theodor-Heuss-Straße 34                  | Stuttgart           |               | Germany         | 70174               | 8.91  |
| 68         | 11          | 2009-10-17T00:00:00.000000000 | Av. Paulista, 2022                       | São Paulo           | SP            | Brazil          | 01310-200           | 13.86 |
| 69         | 25          | 2009-10-25T00:00:00.000000000 | 319 N. Frances Street                    | Madison             | WI            | USA             | 53703               | 0.99  |
| 70         | 26          | 2009-11-07T00:00:00.000000000 | 2211 W Berry Street                      | Fort Worth          | TX            | USA             | 76110               | 1.98  |
| 71         | 28          | 2009-11-07T00:00:00.000000000 | 302 S 700 E                              | Salt Lake City      | UT            | USA             | 84102               | 1.98  |
| 72         | 30          | 2009-11-08T00:00:00.000000000 | 230 Elgin Street                         | Ottawa              | ON            | Canada          | K2P 1L7             | 3.96  |
| 73         | 34          | 2009-11-09T00:00:00.000000000 | Rua da Assunção 53                       | Lisbon              |               | Portugal        |                     | 5.94  |
| 74         | 40          | 2009-11-12T00:00:00.000000000 | 8, Rue Hanovre                           | Paris               |               | France          | 75002               | 8.91  |
| 75         | 49          | 2009-11-17T00:00:00.000000000 | Ordynacka 10                             | Warsaw              |               | Poland          | 00-358              | 13.86 |
| 76         | 4           | 2009-11-25T00:00:00.000000000 | Ullevålsveien 14                         | Oslo                |               | Norway          | 0171                | 0.99  |
| 77         | 5           | 2009-12-08T00:00:00.000000000 | Klanova 9/506                            | Prague              |               | Czech Republic  | 14700               | 1.98  |
| 78         | 7           | 2009-12-08T00:00:00.000000000 | Rotenturmstraße 4, 1010 Innere Stadt     | Vienne              |               | Austria         | 1010                | 1.98  |
| 79         | 9           | 2009-12-09T00:00:00.000000000 | Sønder Boulevard 51                      | Copenhagen          |               | Denmark         | 1720                | 3.96  |
| 80         | 13          | 2009-12-10T00:00:00.000000000 | Qe 7 Bloco G                             | Brasília            | DF            | Brazil          | 71020-677           | 5.94  |
| 81         | 19          | 2009-12-13T00:00:00.000000000 | 1 Infinite Loop                          | Cupertino           | CA            | USA             | 95014               | 8.91  |
| 82         | 28          | 2009-12-18T00:00:00.000000000 | 302 S 700 E                              | Salt Lake City      | UT            | USA             | 84102               | 13.86 |
| 83         | 42          | 2009-12-26T00:00:00.000000000 | 9, Place Louis Barthou                   | Bordeaux            |               | France          | 33000               | 0.99  |
| 84         | 43          | 2010-01-08T00:00:00.000000000 | 68, Rue Jouvence                         | Dijon               |               | France          | 21000               | 1.98  |
| 85         | 45          | 2010-01-08T00:00:00.000000000 | Erzsébet krt. 58.                        | Budapest            |               | Hungary         | H-1073              | 1.98  |
| 86         | 47          | 2010-01-09T00:00:00.000000000 | Via Degli Scipioni, 43                   | Rome                | RM            | Italy           | 00192               | 3.96  |
| 87         | 51          | 2010-01-10T00:00:00.000000000 | Celsiusg. 9                              | Stockholm           |               | Sweden          | 11230               | 6.94  |
| 88         | 57          | 2010-01-13T00:00:00.000000000 | Calle Lira, 198                          | Santiago            |               | Chile           |                     | 17.91 |
| 89         | 7           | 2010-01-18T00:00:00.000000000 | Rotenturmstraße 4, 1010 Innere Stadt     | Vienne              |               | Austria         | 1010                | 18.86 |
| 90         | 21          | 2010-01-26T00:00:00.000000000 | 801 W 4th Street                         | Reno                | NV            | USA             | 89503               | 0.99  |
| 91         | 22          | 2010-02-08T00:00:00.000000000 | 120 S Orange Ave                         | Orlando             | FL            | USA             | 32801               | 1.98  |
| 92         | 24          | 2010-02-08T00:00:00.000000000 | 162 E Superior Street                    | Chicago             | IL            | USA             | 60611               | 1.98  |
| 93         | 26          | 2010-02-09T00:00:00.000000000 | 2211 W Berry Street                      | Fort Worth          | TX            | USA             | 76110               | 3.96  |
| 94         | 30          | 2010-02-10T00:00:00.000000000 | 230 Elgin Street                         | Ottawa              | ON            | Canada          | K2P 1L7             | 5.94  |
| 95         | 36          | 2010-02-13T00:00:00.000000000 | Tauentzienstraße 8                       | Berlin              |               | Germany         | 10789               | 8.91  |
| 96         | 45          | 2010-02-18T00:00:00.000000000 | Erzsébet krt. 58.                        | Budapest            |               | Hungary         | H-1073              | 21.86 |
| 97         | 59          | 2010-02-26T00:00:00.000000000 | 3,Raj Bhavan Road                        | Bangalore           |               | India           | 560001              | 1.99  |
| 98         | 1           | 2010-03-11T00:00:00.000000000 | Av. Brigadeiro Faria Lima, 2170          | São José dos Campos | SP            | Brazil          | 12227-000           | 3.98  |
| 99         | 3           | 2010-03-11T00:00:00.000000000 | 1498 rue Bélanger                        | Montréal            | QC            | Canada          | H2G 1A7             | 3.98  |
| 100        | 5           | 2010-03-12T00:00:00.000000000 | Klanova 9/506                            | Prague              |               | Czech Republic  | 14700               | 3.96  |
| 101        | 9           | 2010-03-13T00:00:00.000000000 | Sønder Boulevard 51                      | Copenhagen          |               | Denmark         | 1720                | 5.94  |
| 102        | 15          | 2010-03-16T00:00:00.000000000 | 700 W Pender Street                      | Vancouver           | BC            | Canada          | V6C 1G8             | 9.91  |

In [10]:
!./pq --from i=data/invoices.csv --from c=data/customers.csv \
    "from i | group [customer_id] (aggregate [customer_total = sum total]) | sort [-customer_total] | take 5 | join c [customer_id] | select [full_name=f'{first_name} {last_name}', customer_total]"

+--------------------+--------------------+
| full_name          | customer_total     |
+--------------------+--------------------+
| Helena Holý        | 49.620000000000005 |
| Ladislav Kovács    | 45.62              |
| Luis Rojas         | 46.62              |
| Richard Cunningham | 47.620000000000005 |
| Hugh O'Reilly      | 45.62              |
+--------------------+--------------------+

## R

In [11]:
#!sudo apt update && sudo apt upgrade -y && sudo apt install -y r-base
#!sudo R -q -e "install.packages('dplyr', dependencies = TRUE)"
#!sudo R -q -e "install.packages('tidyquery', dependencies = TRUE)"

In [12]:
# prqlr needs to be installed into a user directory because cargo isn't available under sudo
#!mkdir -p ~/.local/R_libs
#!R -q -e 'install.packages("prqlr", repos = "https://eitsupi.r-universe.dev", lib="~/.local/R_libs/")'

In [13]:
#!pip install rpy2

In [14]:
%load_ext rpy2.ipython

In [27]:
%%R
library(prqlr, lib.loc="~/.local/R_libs/")
"
from mtcars
filter cyl > 6
sort [-mpg]
select [cyl, mpg]
" |> prql_to_sql() |> cat()

SELECT
  cyl,
  mpg
FROM
  mtcars
WHERE
  cyl > 6
ORDER BY
  mpg DESC

In [26]:
%%R
# Thanks to the tidyquery package you can query dataframes directly
library("tidyquery")
"
from mtcars
filter cyl > 6
sort [-mpg]
select [cyl, mpg]
" |> prql_to_sql() |> query()

                    cyl  mpg
Pontiac Firebird      8 19.2
Hornet Sportabout     8 18.7
Merc 450SL            8 17.3
Merc 450SE            8 16.4
Ford Pantera L        8 15.8
Dodge Challenger      8 15.5
Merc 450SLC           8 15.2
AMC Javelin           8 15.2
Maserati Bora         8 15.0
Chrysler Imperial     8 14.7
Duster 360            8 14.3
Camaro Z28            8 13.3
Cadillac Fleetwood    8 10.4
Lincoln Continental   8 10.4

In [25]:
%%R
# or even convert PRQL queries to dplyr queries
library("tidyquery")
"
from mtcars
filter cyl > 6
select [cyl, mpg]
sort [-mpg]
" |>
  prql_to_sql() |>
  tidyquery::show_dplyr()

mtcars %>%
  filter(cyl > 6) %>%
  select(cyl, mpg) %>%
  arrange(dplyr::desc(mpg))

```
from mtcars
filter cyl > 6
select [cyl, mpg]
sort [-mpg]
```